In [125]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [126]:
%autoreload

import pandas as pd
import process as pr
import os

In [127]:
current_dir = ''

In [128]:
dataset_base_path = os.path.join(current_dir, 'dataset', 'dataset')

In [129]:
def get_all_user_data(data_path):
    # create for each user entry in list to insert them all in once
    all_users = os.listdir(data_path)
    # transform it in tuple with (id, has_labels) set has_labels to False for all
    all_users = [(u, False) for u in all_users]
    with open(os.path.join(dataset_base_path, 'labeled_ids.txt')) as f:
        for line in f.readlines():
            # update all entries with idx in file to has_labels = True
            all_users[int(line.strip())] = (all_users[int(line.strip())][0], True)
    
    return all_users

In [130]:
def upload_single_activity(data):
    query = "INSERT INTO Activity (id, user_id, transportation_mode, start_date_time, end_date_time) VALUES" + data
    cursor.execute(query)

In [131]:
def upload_trackpoints_batch(data):
    cursor.executemany("""INSERT INTO TrackPoint (activity_id, lat, long, altitude, date_days, date_time)
    VALUES (%s, %s, %s, %s, %s, %s)""", data)

In [132]:
def get_labels_as_df(file_path):
    temp = pd.read_csv(file_path, sep='\t', parse_dates=['Start Time','End Time'], date_format='yyyy/mm/dd hh:mm:ss')
    temp['Start Time'] = pd.to_datetime(temp['Start Time'])
    temp['End Time'] = pd.to_datetime(temp['End Time'])
    return temp

In [133]:
test_df = get_labels_as_df('dataset/dataset/Data/010/labels.txt')
test_df.head()

           Start Time            End Time Transportation Mode
0 2007-06-26 11:32:29 2007-06-26 11:40:29                 bus
1 2008-03-28 14:52:54 2008-03-28 15:59:59               train
2 2008-03-28 16:00:00 2008-03-28 22:02:00               train
3 2008-03-29 01:27:50 2008-03-29 15:59:59               train
4 2008-03-29 16:00:00 2008-03-30 15:59:59               train

In [134]:
points = pr.get_trackpoints_as_df('dataset/dataset/Data/010/Trajectory/20070804033032.plt')
list(points.itertuples(index=False, name=None))

[(Timestamp('2007-08-04 03:30:32'),
  39.921712,
  116.472343,
  13,
  39298.1462037037,
  '03:30:32'),
 (Timestamp('2007-08-04 03:30:33'),
  39.921705,
  116.472343,
  13,
  39298.1462152778,
  '03:30:33'),
 (Timestamp('2007-08-04 03:30:34'),
  39.921695,
  116.472345,
  13,
  39298.1462268519,
  '03:30:34'),
 (Timestamp('2007-08-04 03:30:35'),
  39.921683,
  116.472342,
  13,
  39298.1462384259,
  '03:30:35'),
 (Timestamp('2007-08-04 03:30:36'),
  39.921672,
  116.472342,
  13,
  39298.14625,
  '03:30:36'),
 (Timestamp('2007-08-04 03:30:38'),
  39.921583,
  116.472315,
  13,
  39298.1462731481,
  '03:30:38'),
 (Timestamp('2007-08-04 03:30:39'),
  39.921572,
  116.472315,
  13,
  39298.1462847222,
  '03:30:39'),
 (Timestamp('2007-08-04 03:30:40'),
  39.92156,
  116.47229,
  13,
  39298.1462962963,
  '03:30:40'),
 (Timestamp('2007-08-04 03:30:41'),
  39.921565,
  116.47229,
  13,
  39298.1463078704,
  '03:30:41'),
 (Timestamp('2007-08-04 03:30:42'),
  39.92157,
  116.472288,
  13,
  39298.1463194444,
  '03:30:42'),
 (Timestamp('2007-08-04 03:30:43'),
  39.921577,
  116.4723,
  13,
  39298.1463310185,
  '03:30:43'),
 (Timestamp('2007-08-04 03:30:44'),
  39.92158,
  116.472307,
  13,
  39298.1463425926,
  '03:30:44'),
 (Timestamp('2007-08-04 03:30:45'),
  39.921562,
  116.472303,
  13,
  39298.1463541667,
  '03:30:45'),
 (Timestamp('2007-08-04 03:30:46'),
  39.921545,
  116.472308,
  13,
  39298.1463657407,
  '03:30:46'),
 (Timestamp('2007-08-04 03:30:47'),
  39.921532,
  116.472313,
  13,
  39298.1463773148,
  '03:30:47'),
 (Timestamp('2007-08-04 03:30:49'),
  39.921505,
  116.472317,
  13,
  39298.146400463,
  '03:30:49'),
 (Timestamp('2007-08-04 03:30:50'),
  39.921492,
  116.472317,
  13,
  39298.146412037,
  '03:30:50'),
 (Timestamp('2007-08-04 03:30:52'),
  39.921485,
  116.472323,
  13,
  39298.1464351852,
  '03:30:52'),
 (Timestamp('2007-08-04 03:30:57'),
  39.921487,
  116.472323,
  13,
  39298.1464930556,
  '03:30:57'),
 (Timestamp('2007-08-04 03:30:58'),
  39.921487,
  116.472318,
  13,
  39298.1465046296,
  '03:30:58'),
 (Timestamp('2007-08-04 03:30:59'),
  39.921483,
  116.472312,
  13,
  39298.1465162037,
  '03:30:59'),
 (Timestamp('2007-08-04 03:31:01'),
  39.921463,
  116.472305,
  13,
  39298.1465393519,
  '03:31:01'),
 (Timestamp('2007-08-04 03:31:02'),
  39.92145,
  116.472302,
  13,
  39298.1465509259,
  '03:31:02'),
 (Timestamp('2007-08-04 03:31:03'),
  39.921428,
  116.472323,
  15,
  39298.1465625,
  '03:31:03'),
 (Timestamp('2007-08-04 03:31:04'),
  39.921423,
  116.47232,
  20,
  39298.1465740741,
  '03:31:04'),
 (Timestamp('2007-08-04 03:31:05'),
  39.921415,
  116.47232,
  20,
  39298.1465856481,
  '03:31:05'),
 (Timestamp('2007-08-04 03:31:06'),
  39.921403,
  116.472338,
  3,
  39298.1465972222,
  '03:31:06'),
 (Timestamp('2007-08-04 03:31:07'),
  39.921395,
  116.472348,
  0,
  39298.1466087963,
  '03:31:07'),
 (Timestamp('2007-08-04 03:31:08'),
  39.921395,
  116.472357,
  2,
  39298.1466203704,
  '03:31:08'),
 (Timestamp('2007-08-04 03:31:09'),
  39.921388,
  116.472365,
  0,
  39298.1466319444,
  '03:31:09'),
 (Timestamp('2007-08-04 03:31:10'),
  39.921375,
  116.47236,
  0,
  39298.1466435185,
  '03:31:10'),
 (Timestamp('2007-08-04 03:31:11'),
  39.921355,
  116.472357,
  0,
  39298.1466550926,
  '03:31:11'),
 (Timestamp('2007-08-04 03:31:12'),
  39.921335,
  116.472357,
  3,
  39298.1466666667,
  '03:31:12'),
 (Timestamp('2007-08-04 03:31:13'),
  39.92132,
  116.472353,
  5,
  39298.1466782407,
  '03:31:13'),
 (Timestamp('2007-08-04 03:31:14'),
  39.921302,
  116.472345,
  7,
  39298.1466898148,
  '03:31:14'),
 (Timestamp('2007-08-04 03:31:15'),
  39.921292,
  116.472343,
  7,
  39298.1467013889,
  '03:31:15'),
 (Timestamp('2007-08-04 03:31:16'),
  39.921278,
  116.472347,
  15,
  39298.146712963,
  '03:31:16'),
 (Timestamp('2007-08-04 03:31:17'),
  39.921265,
  116.472332,
  18,
  39298.146724537,
  '03:31:17'),
 (Timestamp('2007-08-04 03:31:18'),
  39.921252,
  116.472317,
  21,
  39298.1467361111,
  '03:31:18'),
 (Timestamp('2007-08-04 03:31:19'),
  39.921242,
  116.472307,
  23,
  39298.1467476852,
  '03:31:19'),
 (Timestamp('2007-08-04 03:31:20'),
  39.921237,
  116.472295,
  21,
  39298.1467592593,
  '03:31:20'),
 (Timestamp('2007-08-04 03:31:21'),
  39.92123,
  116.472303,
  21,
  39298.1467708333,
  '03:31:21'),
 (Timestamp('2007-08-04 03:31:22'),
  39.921227,
  116.472308,
  21,
  39298.1467824074,
  '03:31:22'),
 (Timestamp('2007-08-04 03:31:23'),
  39.921225,
  116.472295,
  23,
  39298.1467939815,
  '03:31:23'),
 (Timestamp('2007-08-04 03:31:24'),
  39.92122,
  116.47229,
  26,
  39298.1468055556,
  '03:31:24'),
 (Timestamp('2007-08-04 03:31:25'),
  39.921208,
  116.472287,
  23,
  39298.1468171296,
  '03:31:25'),
 (Timestamp('2007-08-04 03:31:26'),
  39.921198,
  116.47228,
  21,
  39298.1468287037,
  '03:31:26'),
 (Timestamp('2007-08-04 03:31:27'),
  39.921185,
  116.472263,
  23,
  39298.1468402778,
  '03:31:27'),
 (Timestamp('2007-08-04 03:31:28'),
  39.921177,
  116.472248,
  25,
  39298.1468518519,
  '03:31:28'),
 (Timestamp('2007-08-04 03:31:29'),
  39.921153,
  116.472237,
  28,
  39298.1468634259,
  '03:31:29'),
 (Timestamp('2007-08-04 03:31:31'),
  39.921105,
  116.472205,
  44,
  39298.1468865741,
  '03:31:31'),
 (Timestamp('2007-08-04 03:31:32'),
  39.921095,
  116.472198,
  46,
  39298.1468981481,
  '03:31:32'),
 (Timestamp('2007-08-04 03:31:33'),
  39.921088,
  116.472193,
  48,
  39298.1469097222,
  '03:31:33'),
 (Timestamp('2007-08-04 03:31:34'),
  39.92108,
  116.472195,
  51,
  39298.1469212963,
  '03:31:34'),
 (Timestamp('2007-08-04 03:31:35'),
  39.921073,
  116.472198,
  51,
  39298.1469328704,
  '03:31:35'),
 (Timestamp('2007-08-04 03:31:36'),
  39.921068,
  116.4722,
  51,
  39298.1469444444,
  '03:31:36'),
 (Timestamp('2007-08-04 03:31:37'),
  39.921057,
  116.472197,
  56,
  39298.1469560185,
  '03:31:37'),
 (Timestamp('2007-08-04 03:31:38'),
  39.92105,
  116.472192,
  59,
  39298.1469675926,
  '03:31:38'),
 (Timestamp('2007-08-04 03:31:39'),
  39.921045,
  116.472197,
  62,
  39298.1469791667,
  '03:31:39'),
 (Timestamp('2007-08-04 03:31:40'),
  39.921043,
  116.472218,
  66,
  39298.1469907407,
  '03:31:40'),
 (Timestamp('2007-08-04 03:31:42'),
  39.920987,
  116.472248,
  71,
  39298.1470138889,
  '03:31:42'),
 (Timestamp('2007-08-04 03:31:43'),
  39.920977,
  116.472225,
  80,
  39298.147025463,
  '03:31:43'),
 (Timestamp('2007-08-04 03:31:45'),
  39.921007,
  116.472172,
  84,
  39298.1470486111,
  '03:31:45'),
 (Timestamp('2007-08-04 03:31:46'),
  39.921005,
  116.472178,
  90,
  39298.1470601852,
  '03:31:46'),
 (Timestamp('2007-08-04 03:31:47'),
  39.921003,
  116.472182,
  92,
  39298.1470717593,
  '03:31:47'),
 (Timestamp('2007-08-04 03:31:48'),
  39.921,
  116.472183,
  92,
  39298.1470833333,
  '03:31:48'),
 (Timestamp('2007-08-04 03:31:49'),
  39.920997,
  116.472183,
  94,
  39298.1470949074,
  '03:31:49'),
 (Timestamp('2007-08-04 03:31:50'),
  39.920993,
  116.472185,
  94,
  39298.1471064815,
  '03:31:50'),
 (Timestamp('2007-08-04 03:31:51'),
  39.920992,
  116.472185,
  94,
  39298.1471180556,
  '03:31:51'),
 (Timestamp('2007-08-04 03:31:52'),
  39.92099,
  116.472185,
  94,
  39298.1471296296,
  '03:31:52'),
 (Timestamp('2007-08-04 03:31:53'),
  39.92099,
  116.472185,
  94,
  39298.1471412037,
  '03:31:53'),
 (Timestamp('2007-08-04 03:31:54'),
  39.92099,
  116.472185,
  94,
  39298.1471527778,
  '03:31:54'),
 (Timestamp('2007-08-04 03:31:55'),
  39.920988,
  116.472185,
  94,
  39298.1471643519,
  '03:31:55'),
 (Timestamp('2007-08-04 03:32:12'),
  39.920917,
  116.472233,
  94,
  39298.1473611111,
  '03:32:12'),
 (Timestamp('2007-08-04 03:32:13'),
  39.920895,
  116.472243,
  94,
  39298.1473726852,
  '03:32:13'),
 (Timestamp('2007-08-04 03:32:15'),
  39.920883,
  116.472248,
  94,
  39298.1473958333,
  '03:32:15'),
 (Timestamp('2007-08-04 03:32:15'),
  39.920887,
  116.472247,
  94,
  39298.1473958333,
  '03:32:15'),
 (Timestamp('2007-08-04 03:32:17'),
  39.920878,
  116.472248,
  94,
  39298.1474189815,
  '03:32:17'),
 (Timestamp('2007-08-04 03:32:17'),
  39.92088,
  116.472248,
  94,
  39298.1474189815,
  '03:32:17'),
 (Timestamp('2007-08-04 03:32:57'),
  39.920658,
  116.472318,
  94,
  39298.1478819444,
  '03:32:57'),
 (Timestamp('2007-08-04 03:32:58'),
  39.920612,
  116.47233,
  94,
  39298.1478935185,
  '03:32:58'),
 (Timestamp('2007-08-04 03:33:00'),
  39.920587,
  116.472327,
  94,
  39298.1479166667,
  '03:33:00'),
 (Timestamp('2007-08-04 03:33:00'),
  39.920595,
  116.472333,
  94,
  39298.1479166667,
  '03:33:00'),
 (Timestamp('2007-08-04 03:33:03'),
  39.92042,
  116.472368,
  94,
  39298.1479513889,
  '03:33:03'),
 (Timestamp('2007-08-04 03:33:05'),
  39.920347,
  116.472313,
  94,
  39298.147974537,
  '03:33:05'),
 (Timestamp('2007-08-04 03:33:07'),
  39.920303,
  116.472322,
  94,
  39298.1479976852,
  '03:33:07'),
 (Timestamp('2007-08-04 03:33:07'),
  39.920317,
  116.47232,
  94,
  39298.1479976852,
  '03:33:07'),
 (Timestamp('2007-08-04 03:33:09'),
  39.92029,
  116.472305,
  94,
  39298.1480208333,
  '03:33:09'),
 (Timestamp('2007-08-04 03:33:10'),
  39.920217,
  116.47226,
  94,
  39298.1480324074,
  '03:33:10'),
 (Timestamp('2007-08-04 03:33:13'),
  39.920072,
  116.472143,
  94,
  39298.1480671296,
  '03:33:13'),
 (Timestamp('2007-08-04 03:33:15'),
  39.920052,
  116.472125,
  94,
  39298.1480902778,
  '03:33:15'),
 (Timestamp('2007-08-04 03:33:16'),
  39.920038,
  116.472115,
  94,
  39298.1481018519,
  '03:33:16'),
 (Timestamp('2007-08-04 03:33:17'),
  39.92,
  116.472087,
  94,
  39298.1481134259,
  '03:33:17'),
 (Timestamp('2007-08-04 03:33:20'),
  39.919962,
  116.472048,
  94,
  39298.1481481481,
  '03:33:20'),
 (Timestamp('2007-08-04 03:33:22'),
  39.919893,
  116.472025,
  94,
  39298.1481712963,
  '03:33:22'),
 (Timestamp('2007-08-04 03:33:23'),
  39.919893,
  116.472025,
  94,
  39298.1481828704,
  '03:33:23'),
 (Timestamp('2007-08-04 03:33:24'),
  39.919885,
  116.472022,
  94,
  39298.1481944444,
  '03:33:24'),
 (Timestamp('2007-08-04 03:33:25'),
  39.919877,
  116.472023,
  94,
  39298.1482060185,
  '03:33:25'),
 (Timestamp('2007-08-04 03:33:26'),
  39.91987,
  116.472023,
  94,
  39298.1482175926,
  '03:33:26'),
 (Timestamp('2007-08-04 03:33:27'),
  39.919852,
  116.472017,
  94,
  39298.1482291667,
  '03:33:27'),
 (Timestamp('2007-08-04 03:33:28'),
  39.919847,
  116.472015,
  94,
  39298.1482407407,
  '03:33:28'),
 (Timestamp('2007-08-04 03:33:29'),
  39.919843,
  116.472015,
  94,
  39298.1482523148,
  '03:33:29'),
 (Timestamp('2007-08-04 03:33:31'),
  39.919778,
  116.472022,
  94,
  39298.148275463,
  '03:33:31'),
 (Timestamp('2007-08-04 03:33:32'),
  39.919768,
  116.472025,
  94,
  39298.148287037,
  '03:33:32'),
 (Timestamp('2007-08-04 03:33:33'),
  39.91976,
  116.47203,
  94,
  39298.1482986111,
  '03:33:33'),
 (Timestamp('2007-08-04 03:33:34'),
  39.919755,
  116.47204,
  94,
  39298.1483101852,
  '03:33:34'),
 (Timestamp('2007-08-04 03:33:35'),
  39.91975,
  116.472043,
  94,
  39298.1483217593,
  '03:33:35'),
 (Timestamp('2007-08-04 03:33:36'),
  39.919747,
  116.472047,
  94,
  39298.1483333333,
  '03:33:36'),
 (Timestamp('2007-08-04 03:33:37'),
  39.919743,
  116.47205,
  94,
  39298.1483449074,
  '03:33:37'),
 (Timestamp('2007-08-04 03:33:38'),
  39.919742,
  116.472062,
  94,
  39298.1483564815,
  '03:33:38'),
 (Timestamp('2007-08-04 03:34:21'),
  39.919728,
  116.471988,
  94,
  39298.1488541667,
  '03:34:21'),
 (Timestamp('2007-08-04 03:34:23'),
  39.919705,
  116.471953,
  94,
  39298.1488773148,
  '03:34:23'),
 (Timestamp('2007-08-04 03:34:24'),
  39.919698,
  116.471923,
  94,
  39298.1488888889,
  '03:34:24'),
 (Timestamp('2007-08-04 03:34:26'),
  39.919672,
  116.471842,
  94,
  39298.148912037,
  '03:34:26'),
 (Timestamp('2007-08-04 03:34:27'),
  39.91967,
  116.471835,
  94,
  39298.1489236111,
  '03:34:27'),
 (Timestamp('2007-08-04 03:34:28'),
  39.919663,
  116.471828,
  94,
  39298.1489351852,
  '03:34:28'),
 (Timestamp('2007-08-04 03:34:29'),
  39.91966,
  116.471825,
  94,
  39298.1489467593,
  '03:34:29'),
 (Timestamp('2007-08-04 03:34:30'),
  39.919657,
  116.471827,
  94,
  39298.1489583333,
  '03:34:30'),
 (Timestamp('2007-08-04 03:34:31'),
  39.919655,
  116.471828,
  94,
  39298.1489699074,
  '03:34:31'),
 (Timestamp('2007-08-04 03:34:32'),
  39.919652,
  116.471832,
  94,
  39298.1489814815,
  '03:34:32'),
 (Timestamp('2007-08-04 03:34:46'),
  39.91961,
  116.471828,
  92,
  39298.1491435185,
  '03:34:46'),
 (Timestamp('2007-08-04 03:34:47'),
  39.919595,
  116.47183,
  92,
  39298.1491550926,
  '03:34:47'),
 (Timestamp('2007-08-04 03:34:48'),
  39.919588,
  116.471832,
  92,
  39298.1491666667,
  '03:34:48'),
 (Timestamp('2007-08-04 03:34:52'),
  39.919293,
  116.471913,
  92,
  39298.149212963,
  '03:34:52'),
 (Timestamp('2007-08-04 03:34:56'),
  39.918992,
  116.471995,
  92,
  39298.1492592593,
  '03:34:56'),
 (Timestamp('2007-08-04 03:34:57'),
  39.918972,
  116.472012,
  92,
  39298.1492708333,
  '03:34:57'),
 (Timestamp('2007-08-04 03:34:59'),
  39.918885,
  116.472045,
  92,
  39298.1492939815,
  '03:34:59'),
 (Timestamp('2007-08-04 03:35:00'),
  39.918877,
  116.47205,
  92,
  39298.1493055556,
  '03:35:00'),
 (Timestamp('2007-08-04 03:35:01'),
  39.918868,
  116.472045,
  92,
  39298.1493171296,
  '03:35:01'),
 (Timestamp('2007-08-04 03:35:03'),
  39.918785,
  116.47208,
  92,
  39298.1493402778,
  '03:35:03'),
 (Timestamp('2007-08-04 03:35:04'),
  39.91878,
  116.472083,
  92,
  39298.1493518518,
  '03:35:04'),
 (Timestamp('2007-08-04 03:35:05'),
  39.918778,
  116.472085,
  92,
  39298.1493634259,
  '03:35:05'),
 (Timestamp('2007-08-04 03:35:08'),
  39.918597,
  116.47219,
  92,
  39298.1493981481,
  '03:35:08'),
 (Timestamp('2007-08-04 03:35:09'),
  39.91859,
  116.472202,
  92,
  39298.1494097222,
  '03:35:09'),
 (Timestamp('2007-08-04 03:35:10'),
  39.918563,
  116.472195,
  92,
  39298.1494212963,
  '03:35:10'),
 (Timestamp('2007-08-04 03:35:12'),
  39.918528,
  116.472253,
  92,
  39298.1494444444,
  '03:35:12'),
 (Timestamp('2007-08-04 03:35:14'),
  39.918508,
  116.47232,
  92,
  39298.1494675926,
  '03:35:14'),
 (Timestamp('2007-08-04 03:35:16'),
  39.918435,
  116.47231,
  92,
  39298.1494907407,
  '03:35:16'),
 (Timestamp('2007-08-04 03:35:17'),
  39.918415,
  116.472338,
  92,
  39298.1495023148,
  '03:35:17'),
 (Timestamp('2007-08-04 03:35:18'),
  39.918403,
  116.472347,
  92,
  39298.1495138889,
  '03:35:18'),
 (Timestamp('2007-08-04 03:35:19'),
  39.918387,
  116.472333,
  92,
  39298.149525463,
  '03:35:19'),
 (Timestamp('2007-08-04 03:35:20'),
  39.918383,
  116.472317,
  92,
  39298.149537037,
  '03:35:20'),
 (Timestamp('2007-08-04 03:35:21'),
  39.918378,
  116.472302,
  92,
  39298.1495486111,
  '03:35:21'),
 (Timestamp('2007-08-04 03:35:22'),
  39.918372,
  116.472295,
  92,
  39298.1495601852,
  '03:35:22'),
 (Timestamp('2007-08-04 03:35:23'),
  39.918345,
  116.472285,
  94,
  39298.1495717593,
  '03:35:23'),
 (Timestamp('2007-08-04 03:35:24'),
  39.918323,
  116.472278,
  95,
  39298.1495833333,
  '03:35:24'),
 (Timestamp('2007-08-04 03:35:25'),
  39.91833,
  116.472247,
  94,
  39298.1495949074,
  '03:35:25'),
 (Timestamp('2007-08-04 03:35:26'),
  39.918313,
  116.472217,
  95,
  39298.1496064815,
  '03:35:26'),
 (Timestamp('2007-08-04 03:35:27'),
  39.918302,
  116.472205,
  95,
  39298.1496180556,
  '03:35:27'),
 (Timestamp('2007-08-04 03:35:28'),
  39.918293,
  116.4722,
  95,
  39298.1496296296,
  '03:35:28'),
 (Timestamp('2007-08-04 03:35:29'),
  39.91829,
  116.472187,
  95,
  39298.1496412037,
  '03:35:29'),
 (Timestamp('2007-08-04 03:35:30'),
  39.918293,
  116.47218,
  95,
  39298.1496527778,
  '03:35:30'),
 (Timestamp('2007-08-04 03:35:31'),
  39.91829,
  116.472177,
  95,
  39298.1496643518,
  '03:35:31'),
 (Timestamp('2007-08-04 03:35:33'),
  39.91829,
  116.472108,
  94,
  39298.1496875,
  '03:35:33'),
 (Timestamp('2007-08-04 03:35:34'),
  39.91829,
  116.472107,
  94,
  39298.1496990741,
  '03:35:34'),
 (Timestamp('2007-08-04 03:35:36'),
  39.918292,
  116.472093,
  94,
  39298.1497222222,
  '03:35:36'),
 (Timestamp('2007-08-04 03:35:41'),
  39.918292,
  116.472095,
  94,
  39298.1497800926,
  '03:35:41'),
 (Timestamp('2007-08-04 03:35:42'),
  39.918293,
  116.472102,
  94,
  39298.1497916667,
  '03:35:42'),
 (Timestamp('2007-08-04 03:35:43'),
  39.918295,
  116.472105,
  94,
  39298.1498032407,
  '03:35:43'),
 (Timestamp('2007-08-04 03:35:44'),
  39.918297,
  116.47211,
  94,
  39298.1498148148,
  '03:35:44'),
 (Timestamp('2007-08-04 03:35:45'),
  39.918297,
  116.472112,
  94,
  39298.1498263889,
  '03:35:45'),
 (Timestamp('2007-08-04 03:35:46'),
  39.91829,
  116.472112,
  94,
  39298.149837963,
  '03:35:46'),
 (Timestamp('2007-08-04 03:35:47'),
  39.918285,
  116.472113,
  94,
  39298.149849537,
  '03:35:47'),
 (Timestamp('2007-08-04 03:35:48'),
  39.918282,
  116.472113,
  94,
  39298.1498611111,
  '03:35:48'),
 (Timestamp('2007-08-04 03:35:49'),
  39.91828,
  116.472113,
  94,
  39298.1498726852,
  '03:35:49'),
 (Timestamp('2007-08-04 03:35:51'),
  39.918272,
  116.472112,
  94,
  39298.1498958333,
  '03:35:51'),
 (Timestamp('2007-08-04 03:35:52'),
  39.91826,
  116.472107,
  94,
  39298.1499074074,
  '03:35:52'),
 (Timestamp('2007-08-04 03:35:53'),
  39.918255,
  116.472105,
  94,
  39298.1499189815,
  '03:35:53'),
 (Timestamp('2007-08-04 03:35:54'),
  39.918253,
  116.472103,
  94,
  39298.1499305556,
  '03:35:54'),
 (Timestamp('2007-08-04 03:35:56'),
  39.91825,
  116.472102,
  94,
  39298.1499537037,
  '03:35:56'),
 (Timestamp('2007-08-04 03:36:02'),
  39.918225,
  116.472097,
  94,
  39298.1500231481,
  '03:36:02'),
 (Timestamp('2007-08-04 03:36:03'),
  39.918213,
  116.472095,
  94,
  39298.1500347222,
  '03:36:03'),
 (Timestamp('2007-08-04 03:36:04'),
  39.918207,
  116.472095,
  94,
  39298.1500462963,
  '03:36:04'),
 (Timestamp('2007-08-04 03:36:05'),
  39.918203,
  116.472095,
  94,
  39298.1500578704,
  '03:36:05'),
 (Timestamp('2007-08-04 03:36:06'),
  39.918163,
  116.472078,
  94,
  39298.1500694444,
  '03:36:06'),
 (Timestamp('2007-08-04 03:36:07'),
  39.918147,
  116.472072,
  94,
  39298.1500810185,
  '03:36:07'),
 (Timestamp('2007-08-04 03:36:08'),
  39.91814,
  116.472068,
  94,
  39298.1500925926,
  '03:36:08'),
 (Timestamp('2007-08-04 03:36:12'),
  39.918103,
  116.472018,
  94,
  39298.1501388889,
  '03:36:12'),
 (Timestamp('2007-08-04 03:36:13'),
  39.918093,
  116.471993,
  94,
  39298.150150463,
  '03:36:13'),
 (Timestamp('2007-08-04 03:36:14'),
  39.91809,
  116.471982,
  94,
  39298.150162037,
  '03:36:14'),
 (Timestamp('2007-08-04 03:36:16'),
  39.918003,
  116.47193,
  94,
  39298.1501851852,
  '03:36:16'),
 (Timestamp('2007-08-04 03:36:18'),
  39.918017,
  116.471832,
  94,
  39298.1502083333,
  '03:36:18'),
 (Timestamp('2007-08-04 03:36:19'),
  39.918018,
  116.471822,
  94,
  39298.1502199074,
  '03:36:19'),
 (Timestamp('2007-08-04 03:36:20'),
  39.918018,
  116.471818,
  94,
  39298.1502314815,
  '03:36:20'),
 (Timestamp('2007-08-04 03:36:23'),
  39.917883,
  116.471692,
  94,
  39298.1502662037,
  '03:36:23'),
 (Timestamp('2007-08-04 03:36:24'),
  39.91787,
  116.471702,
  94,
  39298.1502777778,
  '03:36:24'),
 (Timestamp('2007-08-04 03:36:26'),
  39.917852,
  116.471697,
  94,
  39298.1503009259,
  '03:36:26'),
 (Timestamp('2007-08-04 03:36:28'),
  39.917825,
  116.471697,
  94,
  39298.1503240741,
  '03:36:28'),
 (Timestamp('2007-08-04 03:36:30'),
  39.917793,
  116.471693,
  94,
  39298.1503472222,
  '03:36:30'),
 (Timestamp('2007-08-04 03:36:31'),
  39.917778,
  116.4717,
  94,
  39298.1503587963,
  '03:36:31'),
 (Timestamp('2007-08-04 03:36:32'),
  39.917753,
  116.47171,
  94,
  39298.1503703704,
  '03:36:32'),
 (Timestamp('2007-08-04 03:36:33'),
  39.917735,
  116.471717,
  94,
  39298.1503819444,
  '03:36:33'),
 (Timestamp('2007-08-04 03:36:34'),
  39.917717,
  116.471697,
  94,
  39298.1503935185,
  '03:36:34'),
 (Timestamp('2007-08-04 03:36:35'),

check for matching between labels and df of activity (check if start time of first row is equal to start time of label and 
end time of last row equals end time of labels)

create list of tuples with (activity id, min_time, max_time) and search for matchings. use activity id to reference and add attribute

In [137]:
# for user in os.listdir('dataset/dataset/Data'):
current_activity_id = 0
user = '010'
base_path = f'dataset/dataset/Data/{user}'
labels_exists = os.path.exists(f'{base_path}/labels.txt')
if labels_exists:
    df_labels = get_labels_as_df(f'{base_path}/labels.txt')
for activity in os.listdir(f'{base_path}/Trajectory'):
# activity = '20070804033032.plt'

    path_activity = f'{base_path}/Trajectory/{activity}'
    activity_df = pr.get_trackpoints_as_df(path_activity)
    if activity_df.shape[0] <= 2500:
        start_time = activity_df.head(1).values[0][0]
        end_time = activity_df.tail(1).values[0][0]
        transportation_label = ''
        if labels_exists:
            matching_row = df_labels.loc[(df_labels['Start Time'] == start_time) & ((df_labels['End Time']) == end_time)]
            if matching_row.shape[0] > 0:
                transportation_label = matching_row.values[0][2]
        
        upload_single_activity((current_activity_id, int(user), transportation_label, start_time, end_time))

    activity_df.drop(columns=['Date'], inplace=True)
    activity_df['activity_id'] = current_activity_id
    activity_df = activity_df.reindex(columns=['activity_id', 'Latitude', 'Longitude', 'Altitude', 'date_days', 'date_time'])
    upload_trackpoints_batch(list(activity_df.itertuples(index=False, name=None)))
    current_activity_id += 1

      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               0  39.921712  116.472343        13  39298.146204  03:30:32
1               0  39.921705  116.472343        13  39298.146215  03:30:33
2               0  39.921695  116.472345        13  39298.146227  03:30:34
3               0  39.921683  116.472342        13  39298.146238  03:30:35
4               0  39.921672  116.472342        13  39298.146250  03:30:36
...           ...        ...         ...       ...           ...       ...
1111            0  39.902912  116.421455       180  39298.176759  04:14:32
1112            0  39.902908  116.421432       180  39298.176771  04:14:33
1113            0  39.902903  116.421413       180  39298.176794  04:14:35
1114            0  39.902892  116.421330       180  39298.176910  04:14:45
1115            0  39.902885  116.421300       180  39298.176921  04:14:46

[1116 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0              1  42.017857  123.506235       249  39298.661840  15:53:03
1              1  42.018427  123.506190       248  39298.661863  15:53:05
2              1  42.018712  123.506153       246  39298.661875  15:53:06
3              1  42.018998  123.506110       246  39298.661887  15:53:07
4              1  42.019572  123.506050       246  39298.661910  15:53:09
..           ...        ...         ...       ...           ...       ...
576            1  42.253537  123.778125       656  39298.675093  16:12:08
577            1  42.252775  123.782390       656  39298.675405  16:12:35
578            1  42.253717  123.783585       656  39298.675451  16:12:39
579            1  42.254047  123.783805       656  39298.675475  16:12:41
580            1  42.258245  123.790855       653  39298.675602  16:12:52

[581 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               2  44.589055  129.603843       865  39299.295174  07:05:03
1               2  44.589057  129.603843       865  39299.295185  07:05:04
2               2  44.588792  129.603880       865  39299.295822  07:05:59
3               2  44.588787  129.603883       865  39299.295833  07:06:00
4               2  44.588788  129.603880       865  39299.295833  07:06:00
...           ...        ...         ...       ...           ...       ...
5565            2  44.198995  125.507497      1175  39299.716840  17:12:15
5566            2  44.197132  125.505203      1220  39299.716898  17:12:20
5567            2  44.196218  125.503752      1248  39299.716968  17:12:26
5568            2  44.193637  125.501802      1366  39299.717037  17:12:32
5569            2  44.180203  125.493090      2085  39299.717477  17:13:10

[5570 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               3  39.900917  116.420018       500  39322.717384  17:13:02
1               3  39.900923  116.420042       500  39322.717396  17:13:03
2               3  39.900950  116.420138       500  39322.717419  17:13:05
3               3  39.900960  116.420252       500  39322.717442  17:13:07
4               3  39.900962  116.420263       500  39322.717454  17:13:08
...           ...        ...         ...       ...           ...       ...
2898            3  39.118623  117.242723         0  39322.765035  18:21:39
2899            3  39.118610  117.242732         0  39322.765046  18:21:40
2900            3  39.118595  117.242743         0  39322.765069  18:21:42
2901            3  39.118598  117.242735         0  39322.765069  18:21:42
2902            3  39.118588  117.242750         0  39322.765081  18:21:43

[2903 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0              4  39.122990  117.244615        85  39324.860741  20:39:28
1              4  39.122990  117.244615        85  39324.860741  20:39:28
2              4  39.123213  117.243748        85  39324.860810  20:39:34
3              4  39.123238  117.243627        85  39324.860822  20:39:35
4              4  39.123277  117.243487        85  39324.860833  20:39:36
..           ...        ...         ...       ...           ...       ...
667            4  39.135748  117.219655        21  39324.872847  20:56:54
668            4  39.135747  117.219655        21  39324.872847  20:56:54
669            4  39.135748  117.219655        21  39324.872870  20:56:56
670            4  39.135748  117.219655        21  39324.872870  20:56:56
671            4  39.135748  117.219655        21  39324.872882  20:56:57

[672 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0              5  39.990712  116.309635       128  39326.099769  02:23:40
1              5  39.990653  116.309648       130  39326.099792  02:23:42
2              5  39.990618  116.309655       131  39326.099803  02:23:43
3              5  39.990517  116.309658       133  39326.099826  02:23:45
4              5  39.990457  116.309660       133  39326.099838  02:23:46
..           ...        ...         ...       ...           ...       ...
557            5  39.895515  116.313862       162  39326.108981  02:36:56
558            5  39.895500  116.313935       164  39326.108993  02:36:57
559            5  39.895490  116.313997       164  39326.109005  02:36:58
560            5  39.895485  116.314067       161  39326.109028  02:37:00
561            5  39.895482  116.314078       156  39326.109039  02:37:01

[562 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0              6  39.921747  116.471552        94  39328.411204  09:52:08
1              6  39.921750  116.471553        95  39328.411215  09:52:09
2              6  39.921750  116.471555        95  39328.411227  09:52:10
3              6  39.921750  116.471555        95  39328.411238  09:52:11
4              6  39.921748  116.471557        95  39328.411250  09:52:12
..           ...        ...         ...       ...           ...       ...
346            6  39.922963  116.476115       120  39328.415486  09:58:18
347            6  39.922963  116.476115       120  39328.415498  09:58:19
348            6  39.922963  116.476117       120  39328.415509  09:58:20
349            6  39.922963  116.476117       120  39328.415521  09:58:21
350            6  39.922963  116.476118       120  39328.415532  09:58:22

[351 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               7  39.921842  116.470978       107  39330.688113  16:30:53
1               7  39.921842  116.470975       107  39330.688125  16:30:54
2               7  39.921842  116.470973       107  39330.688137  16:30:55
3               7  39.921842  116.470972       107  39330.688148  16:30:56
4               7  39.921842  116.470968       108  39330.688160  16:30:57
...           ...        ...         ...       ...           ...       ...
3686            7  39.118893  117.242417         0  39330.764248  18:20:31
3687            7  39.118887  117.242437         0  39330.764294  18:20:35
3688            7  39.118892  117.242463         0  39330.764329  18:20:38
3689            7  39.118900  117.242545         0  39330.764375  18:20:42
3690            7  39.118878  117.242773         0  39330.764421  18:20:46

[3691 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               8  39.900990  116.425737       167  39331.864826  20:45:21
1               8  39.900932  116.425832       171  39331.864838  20:45:22
2               8  39.900897  116.425938       171  39331.864850  20:45:23
3               8  39.900873  116.426053       169  39331.864861  20:45:24
4               8  39.900862  116.426173       169  39331.864873  20:45:25
...           ...        ...         ...       ...           ...       ...
3211            8  39.117762  117.243998         3  39331.923565  22:09:56
3212            8  39.117762  117.243998         3  39331.923576  22:09:57
3213            8  39.117762  117.243998         3  39331.923588  22:09:58
3214            8  39.117762  117.243998         3  39331.923600  22:09:59
3215            8  39.117760  117.243998         3  39331.923611  22:10:00

[3216 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0               9  39.130618  117.216555         0  39332.326424  07:50:03
1               9  39.130672  117.216363         0  39332.326435  07:50:04
2               9  39.130737  117.216178         0  39332.326447  07:50:05
3               9  39.130797  117.215992         0  39332.326458  07:50:06
4               9  39.130852  117.215805         0  39332.326470  07:50:07
...           ...        ...         ...       ...           ...       ...
2630            9  39.900830  116.421650       159  39332.371007  08:54:15
2631            9  39.900838  116.421640       159  39332.371019  08:54:16
2632            9  39.900843  116.421625       159  39332.371030  08:54:17
2633            9  39.900848  116.421610       159  39332.371042  08:54:18
2634            9  39.900830  116.421610       162  39332.371053  08:54:19

[2635 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              10  39.921752  116.470715        77  39333.345255  08:17:10
1              10  39.921752  116.470715        77  39333.345255  08:17:10
2              10  39.921702  116.470422        94  39333.346076  08:18:21
3              10  39.921698  116.470155       100  39333.346111  08:18:24
4              10  39.921700  116.470057       100  39333.346123  08:18:25
...           ...        ...         ...       ...           ...       ...
4191           10  39.118115  117.243917         0  39333.436736  10:28:54
4192           10  39.118110  117.243927         0  39333.436748  10:28:55
4193           10  39.118105  117.243935         0  39333.436759  10:28:56
4194           10  39.118102  117.243942         0  39333.436771  10:28:57
4195           10  39.118100  117.243947         0  39333.436782  10:28:58

[4196 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              11  39.118683  117.242273        41  39335.323970  07:46:31
1              11  39.118685  117.242265        39  39335.323981  07:46:32
2              11  39.118690  117.242258        38  39335.323993  07:46:33
3              11  39.118695  117.242247        38  39335.324005  07:46:34
4              11  39.118700  117.242232        34  39335.324016  07:46:35
...           ...        ...         ...       ...           ...       ...
3011           11  39.900488  116.420082       130  39335.371528  08:55:00
3012           11  39.900485  116.420078       130  39335.371539  08:55:01
3013           11  39.900480  116.420073       130  39335.371551  08:55:02
3014           11  39.900478  116.420072       130  39335.371562  08:55:03
3015           11  39.900477  116.420072       131  39335.371574  08:55:04

[3016 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              12  39.900788  116.422603       161  39335.864236  20:44:30
1              12  39.900792  116.422605       161  39335.864248  20:44:31
2              12  39.900797  116.422607       161  39335.864259  20:44:32
3              12  39.900800  116.422612       161  39335.864271  20:44:33
4              12  39.900802  116.422623       161  39335.864282  20:44:34
...           ...        ...         ...       ...           ...       ...
3022           12  39.117678  117.243895        31  39335.912442  21:53:55
3023           12  39.117670  117.243903        33  39335.912454  21:53:56
3024           12  39.117665  117.243915        33  39335.912465  21:53:57
3025           12  39.117660  117.243920        34  39335.912477  21:53:58
3026           12  39.117660  117.243922        34  39335.912488  21:53:59

[3027 rows x 6 columns]
   activity_id   Latitude   Longitude  Altitude     date_days date_time
0           13  39.117782  117.244035        28  39344.510949  12:15:46
1           13  39.117782  117.244035        28  39344.510961  12:15:47
2           13  39.117793  117.244037        10  39344.515116  12:21:46
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              14  39.118482  117.242608        21  39344.515127  12:21:47
1              14  39.118482  117.242608        21  39344.515139  12:21:48
2              14  39.118482  117.242608        21  39344.515150  12:21:49
3              14  39.118480  117.242608        21  39344.515162  12:21:50
4              14  39.118480  117.242608        21  39344.515174  12:21:51
...           ...        ...         ...       ...           ...       ...
3313           14  39.900887  116.421225       120  39344.580150  13:55:25
3314           14  39.900928  116.421100       118  39344.580174  13:55:27
3315           14  39.900943  116.421005       118  39344.580197  13:55:29
3316           14  39.900917  116.420878       116  39344.580231  13:55:32
3317           14  39.900923  116.420873       115  39344.580243  13:55:33

[3318 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0             15  28.197370  113.006795        71  39345.325046  07:48:04
1             15  28.197370  113.006797        71  39345.325058  07:48:05
2             15  28.197408  113.006710        30  39345.329977  07:55:10
3             15  28.197408  113.005925        61  39345.330012  07:55:13
4             15  28.197408  113.005925        61  39345.330023  07:55:14
..           ...        ...         ...       ...           ...       ...
589           15  28.197490  113.007150        62  39345.588681  14:07:42
590           15  28.197500  113.006970        62  39345.588715  14:07:45
591           15  28.197490  113.006995        62  39345.588738  14:07:47
592           15  28.197492  113.007017        62  39345.588750  14:07:48
593           15  28.197492  113.007025        62  39345.588762  14:07:49

[594 rows x 6 columns]
       activity_id   Latitude   Longitude  Altitude     date_days date_time
0               16  21.190470  110.383452        61  39346.502153  12:03:06
1               16  21.190470  110.383452        61  39346.502153  12:03:06
2               16  21.190468  110.383458        61  39346.503530  12:05:05
3               16  21.196840  110.399082         0  39346.523264  12:33:30
4               16  21.196838  110.399087         0  39346.523275  12:33:31
...            ...        ...         ...       ...           ...       ...
15376           16  18.297907  109.489607        11  39347.273241  06:33:28
15377           16  18.297907  109.489607        11  39347.273252  06:33:29
15378           16  18.297907  109.489607        11  39347.273275  06:33:31
15379           16  18.297907  109.489607        11  39347.273275  06:33:31
15380           16  18.297907  109.489607        11  39347.273287  06:33:32

[15381 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              17  18.254638  109.500127        26  39347.621204  14:54:32
1              17  18.254665  109.500092        36  39347.621227  14:54:34
2              17  18.254687  109.500080        39  39347.621238  14:54:35
3              17  18.254767  109.500037        48  39347.621262  14:54:37
4              17  18.254802  109.500018        49  39347.621273  14:54:38
...           ...        ...         ...       ...           ...       ...
3185           17  20.186712  110.117392        38  39348.017616  00:25:22
3186           17  20.186868  110.117508        38  39348.017639  00:25:24
3187           17  20.186940  110.117518        38  39348.017650  00:25:25
3188           17  20.186988  110.117533        38  39348.017674  00:25:27
3189           17  20.187328  110.117580        38  39348.017697  00:25:29

[3190 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              18  23.379803  113.199513        26  39348.614190  14:44:26
1              18  23.379798  113.199513        26  39348.614201  14:44:27
2              18  23.379825  113.199383        26  39348.616262  14:47:25
3              18  23.379867  113.199828         3  39348.622384  14:56:14
4              18  23.379848  113.199835         3  39348.622407  14:56:16
...           ...        ...         ...       ...           ...       ...
4475           18  39.246512  117.291810      9129  39348.825926  19:49:20
4476           18  39.223460  117.317183      9101  39348.826458  19:50:06
4477           18  39.142987  117.352922      8743  39348.829097  19:53:54
4478           18  39.137217  117.350135      8189  39348.829132  19:53:57
4479           18  39.126577  117.348765      6987  39348.829155  19:53:59

[4480 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0             19  39.901208  116.479395       102  39369.675185  16:12:16
1             19  39.901207  116.479397       102  39369.675197  16:12:17
2             19  39.901202  116.479403       105  39369.675208  16:12:18
3             19  39.901197  116.479413       107  39369.675220  16:12:19
4             19  39.901195  116.479418       107  39369.675231  16:12:20
..           ...        ...         ...       ...           ...       ...
819           19  39.899317  116.563543        62  39369.684965  16:26:21
820           19  39.899318  116.563525        64  39369.684965  16:26:21
821           19  39.899317  116.563558        62  39369.684977  16:26:22
822           19  39.899315  116.563568        62  39369.684988  16:26:23
823           19  39.899313  116.563572        62  39369.685012  16:26:25

[824 rows x 6 columns]
       activity_id   Latitude   Longitude  Altitude     date_days date_time
0               20  40.082530  116.586048       115  39372.918495  22:02:38
1               20  40.082533  116.586047       115  39372.918507  22:02:39
2               20  40.082538  116.586043       113  39372.918519  22:02:40
3               20  40.082547  116.586042       113  39372.918530  22:02:41
4               20  40.082555  116.586040       113  39372.918542  22:02:42
...            ...        ...         ...       ...           ...       ...
13886           20  39.867227  116.309247       115  39373.443380  10:38:28
13887           20  39.867225  116.309247       115  39373.443391  10:38:29
13888           20  39.867225  116.309247       115  39373.443403  10:38:30
13889           20  39.867225  116.309247       115  39373.443414  10:38:31
13890           20  39.867267  116.309175       116  39373.443449  10:38:34

[13891 rows x 6 columns]
     activity_id   Latitude   Longitude  Altitude     date_days date_time
0             21  39.900798  116.427542       146  39374.249282  05:58:58
1             21  39.900765  116.427615       146  39374.249294  05:58:59
2             21  39.900745  116.427702       146  39374.249306  05:59:00
3             21  39.900730  116.427797       146  39374.249317  05:59:01
4             21  39.900718  116.427893       146  39374.249329  05:59:02
..           ...        ...         ...       ...           ...       ...
472           21  39.898515  116.577912       144  39374.256806  06:09:48
473           21  39.898518  116.578163       144  39374.256817  06:09:49
474           21  39.898517  116.578413       143  39374.256829  06:09:50
475           21  39.898510  116.578915       143  39374.256852  06:09:52
476           21  39.898493  116.579162       143  39374.256863  06:09:53

[477 rows x 6 columns]
      activity_id   Latitude   Longitude  Altitude     date_days date_time
0              22  37.716000  112.699973      2562  39375.125023  03:00:02
1              22  37.716108  112.699797      2562  39375.125035  03:00:03
2              22  37.716217  112.699620      2562  39375.125046  03:00:04

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.